@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root{
    --sky-500: #0ea5e9;
    --sky-400: #38bdf8;
    --sky-50: #f0f9ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: var(--sky-400);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Permanent Marker", cursive;
}

.turn h2{
    font-size: 4rem;
    color: var(--sky-50);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 80%;
}

.container button{
    font-family: inherit;
    font-size: 3.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    width: clamp(40px, 50% + 1vw, 300px);
    transition: all 0.4s ease;
    border: 2px solid var(--sky-500);
}

.container button:hover{
    background-color: var(--sky-500);
    color: var(--sky-50);
    border: 0.2rem solid var(--sky-50);
}

.container button:active{
    transform: scale(0.9);
    border: 0.2rem solid var(--sky-50);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sky-500);
    color: var(--sky-50);
    font-size: 3rem;
    -webkit-box-shadow: 0px 7px 11px 0px rgba(92, 207, 253, 1);
    -moz-box-shadow: 0px 7px 11px 0px rgba(92, 207, 253, 1);
    box-shadow: 0px 7px 11px 0px rgba(92, 207, 253, 1);
    padding: 1.5rem;
    height: 20%;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

.cell{
    width: 100px;
    height: 100px;
    border: 2px solid var(--sky-400);
    background-color: var(--sky-50);
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: var(--sky-400);
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px -7px 11px 0px rgba(92, 207, 253, 1);
    -moz-box-shadow: 0px -7px 11px 0px rgba(92, 207, 253, 1);
    box-shadow: 0px -7px 11px 0px rgba(92, 207, 253, 1);
    padding: 0.5rem;
    color: var(--sky-50);
}

.footer p{
    display: flex;
    align-items: center;
    letter-spacing: 1ch;
}

.footer p > a{
    color: var(--sky-50);
}

.footer p > a:visited{
    color: var(--sky-50);
}

.header, .footer, button{
    text-shadow: 4px 4px 10px rgba(66, 68, 90, 1);
}
